<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>State</title>
  </head>
  <body>
    <img />
    <script>
      const img = document.querySelector("img");
      const game = window.location.pathname.substr(6).trim("/");

      async function getMaxRound() {
        let response = await fetch(`/api/${game}`);
        let gameInfo = await response.json();
        return gameInfo.rounds;
      }

      async function getRound() {
        const params = new URLSearchParams(document.location.search);
        let round = params.get("round");

        if (round === null) {
          return (await getMaxRound()) - 1;
        } else {
          return parseInt(round);
        }
      }

      async function getUpdate() {
        const params = new URLSearchParams(document.location.search);
        let update = params.get("update");

        if (update === null) {
          return false;
        } else {
          return update === "1";
        }
      }

      async function getImage(roundIndex) {
        let response = await fetch(`/api/${game}/round/${roundIndex}`);
        let json = await response.json();
        return json.data;
      }

      getRound().then((round) => {
        getImage(round).then((data) => {
          img.src = `data:image/png;base64,${data}`;
        });
      });

      getUpdate().then((update) => {
        if (update) {
          setTimeout(() => {
            window.location.reload()
          }, 2000);
        }
      });

      function clamp(val, min, max) {
        if (val < min) {
          return min;
        }
        if (val > max) {
          return max;
        }
        return val;
      }

      document.onkeydown = function (e) {
        e = e || window.event;
        var code = e.charCode ? e.charCode : e.keyCode;

        if (!e.shiftKey && !e.ctrlKey && !e.altKey && !e.metaKey) {
          if (code == 37) {
            // Left arrow key
            getRound().then((round) => {
              getMaxRound().then((maxRound) => {
                round = clamp(round - 1, 0, maxRound);
                window.location.href = `/game/${game}?round=${round}`;
              });
            });
          } else if (code == 39) {
            // Right arrow key
            getRound().then((round) => {
              getMaxRound().then((maxRound) => {
                round = clamp(round + 1, 0, maxRound);
                window.location.href = `/game/${game}?round=${round}`;
              });
            });
          }
        }
      };
    </script>
  </body>
</html>
