<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>State</title>
  </head>
  <body>
    <img />
    <script>
      const img = document.querySelector("img");
      const game = window.location.pathname.substr(6).trim("/");

      async function getRound() {
        const params = new URLSearchParams(document.location.search);
        let round = params.get("round");

        if (round === null) {
          let response = await fetch(`/api/${game}`);
          let gameInfo = await response.json();
          round = gameInfo.rounds - 1;
        }

        return round;
      }

      async function getImage(roundIndex) {
        let response = await fetch(`/api/${game}/round/${roundIndex}`);
        let json = await response.json();
        return json.data;
      }

      getRound().then((round) => {
        getImage(round).then((data) => {
          console.log(data);
        });
      });
    </script>
  </body>
</html>
